aiofiles
aiohttp
asyncio
beautifulsoup4
blackpink
bard
deepai
dnspython
dateparser==1.2.0
emojis
ffmpeg-python
flask
flask_restful
gitpython
gpytranslate
git+https://github.com/AsmSafone/SafoneAPI
gtts
hachoir
heroku3
httpx==0.25.2
lexica-api==1.4.7
motor==3.3.2
mpv
ntgcalls==1.1.2
openai==0.28.0
opencv-python-headless==4.9.0.80
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
phonenumbers
pyyaml
pornhub-api==0.2.0
pytube
pydub
pycountry
pytz
qrcode
requests
speedtest-cli
spotipy
tgcrypto
telegraph==2.2.0
telethon==1.24.1
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
#git+https://github.com/joetats/youtube_search@master
#git+https://github.com/alexmercerind/youtube-search-python@main


